---
---

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ headers['title'] }}</title>

    <meta name="author" content="{{ headers['author'] }}" >
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style>
        html {
            background: white;
            color: black;
            font-size: 18pt;
            font-family: Sans;
        }

        h1 {
            font-size: 150%;
            width: 100%;
            padding-bottom: 0.5ex;
            border-bottom: 2pt solid #eb641e;
        }

        h2 {
            font-size: 125%;
        }

        .titlepage > h1, h2 {
            width: 100%;
            text-align: center;
            color: #333333;
        }

        article {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        section {
            width: 75%;
            min-height: 75vh;
            border: 2pt solid #eae7e2;
            padding-left: 5ex;
            padding-right: 5ex;
            padding-top: 2ex;
            padding-bottom: 2ex;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .section-container {
            width: 100%;
            min-height: calc(100vh - 3ex);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        .next {
            position: absolute;
            bottom: 2ex;
            right: 2ex;
        }

        .next a::after {
            content: "↓"
        }

        .next a:link, .next a:visited {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>

<article>

<div class="section-container">
    <section class="titlepage">
        <div class="section-content">
            <h1>{{ headers['title'] }}</h1>
            <h2>{{ headers['author'] }}</h2>
        </div>
    </section>
    <div class="next">
        <a href="#slide0"></a>
    </div>
</div>

{% for slide in slides %}
<a name="slide{{ forloop.index0 }}"> </a>
<div class="section-container">
    <section>
        <div class="section-content">
            {{ slide.content }}
        </div>
    </section>
    {% if forloop.last == false %}
        <div class="next">
            <a href="#slide{{ forloop.index }}"></a>
        </div>
    {% endif %}
</div>
{% endfor %}

</article>
</body>
</html>
